// _base.scss


// Map of button styles

$button-styles: (

  square: (border-radius: 0px),

  pill: (border-radius: 25px),

  circle: (border-radius: 50%,
    flex-direction: column, // Stack text vertically
    overflow: hidden, // Hide any overflow text
  ),

  random: (
    clip-path: xywh(0 5px 100% 75% round 15% 0),
  )
);