// _variables.scss

// Sizes
$button-padding-sm: 5px 10px;
$button-padding-md: 10px 20px;
$button-padding-lg: 15px 30px;

$button-font-size-sm: 12px;
$button-font-size-md: 16px;
$button-font-size-lg: 20px;

// Breakpoints
$mobile-max-width: 576px; // Mobile devices
$tablet-max-width: 768px; // Tablets
$desktop-min-width: 992px; // Desktops
